/* formatação */

:root {
    --primary-color: #953779;
    --default: #fff;
    --hover: #3C3C3C;
    --error: #ff0000;
    --gray: #E0E0E0;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    max-width: 100%;
    overflow: hidden;
}


/* formatação */

.containe {
    background-color: var(--hover);
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.container-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 1rem;
}

.logo h1 {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--default);
}

.btns {
    background: none;
    border: none;
    color: var(--default);
}

.main {
    display: flex;
    height: 100vh;
    background-color: var(--gray);
}

.left-border {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: var(--default);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    overflow-y: auto;
}

.itens {
    margin: 0 .72rem;
    /* border: 1px solid red; */
}

.helloUser {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: .75rem .72rem;
}

.helloUser h2 {
    font-size: 1.6rem;
    font-weight: bold;
}

.helloUser i {
    font-size: 1.5rem;
}

.options nav a {
    margin: .35rem 0;
}

.nav-link {
    color: var(--hover);
}

.nav-link:hover {
    background-color: var(--gray);
    color: var(--hover);
}