/* formatação */

:root {
    --primary-color: #953779;
    --default: #fff;
    --hover: #3C3C3C;
    --error: #ff0000;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    max-width: 100%;
}


/* formatação */

.top {
    background-color: var(--primary-color);
}

.top .container h1 {
    font-weight: 300;
}

.logo {
    width: 7rem;
}

.top h1 {
    color: var(--default);
    font-size: 2.2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.formulario {
    width: 25rem;
    /* border: 1px solid red; */
}

.formulario input {
    outline: none;
    box-shadow: none;
}

.formulario input:focus {
    border: 1px solid var(--primary-color);
    box-shadow: none;
    outline: none;
}

.auda img {
    max-width: 100%;
}

.btn {
    background-color: var(--primary-color);
    color: var(--default);
    transition: all .5s;
}

.btn:hover {
    background-color: #a8478b;
    color: var(--default);
    transition: all .5s;
}

.error {
    display: none;
    font-size: .95rem;
    color: var(--error);
}

.error>span>a {
    color: var(--error);
}

.us>span {
    color: var(--error);
}